body {
    background: url("https://i.pinimg.com/564x/6d/78/8d/6d788d0728c43e00d4a03ca994900d93.jpg") fixed center/cover no-repeat;
  }
.welcome {
    text-align: center;
    color: white;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: hotpink;
  text-decoration: underline;
}

